* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-decoration: none;
    font-size: 15px;
    font-family: Oswald, sans-serif;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.grid {
    padding-left: 300px;
    padding-right: 300px;
}

.main {

}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    display: block;
    border-bottom: 1px solid #ccc;
}

.header_content {
    background: black;
} 

.form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;

}

.form_register--login {
    display: flex;
    
    padding-right: 24px;
}

.login {
    padding-right: 9px;
}

.line {
    border: solid 1px white;
}

.register {
    padding-left: 9px;
}

.language {
    height: 24px;
}

.login:hover {
    cursor: pointer;
    opacity: 0.9;
    text-decoration: underline;
}

.register:hover {
    cursor: pointer;
    opacity: 0.9;
    text-decoration: underline;
}

.language:hover {
    cursor: pointer;
    opacity: 0.9;
}

.vn_flag {
    margin-left: 10px;
}

/* USER */

.user_inf4 {
    background: #fff;
    color: #000;  
}
.user_inf4 li {
    border: 0.1px solid #ccc ;
    padding: 8px;
}
.user_inf4 li:hover{
    opacity: 0.5;
    cursor: pointer;
}
.user_inf4 { 
    position: relative;
    display: none;  
}
.user_inf4::before {
    content: ""; 
    position: absolute;
    right: calc(40%);
    top: -17px;
    border-width: 14px 20px;
    border-style: solid;
    border-color: transparent transparent  #fff transparent;
} 

.user_name:hover {
    cursor: pointer;
    opacity: 0.9;
    text-decoration: underline
}
.user_name i{
 font-size: 12px;
}
.user:hover .user_inf4{
    position: absolute;
    display: block; 
}
.user_list li i{
    margin-right: 8px;
}

/* Navigation */

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 15px;
    padding-bottom: 5px; */
}

.options {
    position: relative;
    line-height: 30px;
}

.subnav_options {
    display: none;
    background-color: white;
}

.options_city {
    border: 1px solid #ccc;
    border-radius: 20px;
}

.options_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f6f6;
    border-radius: 20px;
}

.options_content i {
    padding-right: 15px;
    padding-top: 5px;
}

.options_text {
    padding-left: 15px;
    padding-right: 15px;
}

.options_city:hover {
    cursor: pointer;
}

.options_city:hover .subnav_options {
    display: block;
    position: absolute;
}

.subnav_options {
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    line-height: 30px;
    padding-left: 15px;
    margin-top: 3px;
    margin-left: 10px;
}

.nav_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    text-transform: uppercase;
}

.nav_contents li a {
    padding: 10px;
    font-size: 22px;
    margin-left: 20px;
}

.nav_contents li:hover a {
    color: #5b9bd1;
}


/* Slide Show */
.slider-container{
    margin-top: 110px;
    height: 470px;
    width: 100%;
    position: relative;
    overflow: hidden; 
    text-align: center;
  }
  
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 .2em 1em;
    transition: all .3s ease;
    &:hover {
      background: red;
    }
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }
  
  .slide-1 {
    background-image: url("https://files.betacorp.vn/files/ecm/2023/10/05/don-thang-quy-di-combo-ma-mi-1702-x-621-shrink-113717-051023-74.jpg");
  }
  .slide-2 {
    background-image: url("https://files.betacorp.vn/files/ecm/2023/04/21/mer-resize-1702-x-621-140337-210423-86.png");
  }
  .slide-3 {
    background-image: url("https://files.betacorp.vn/files/ecm/2023/09/26/vnpaybeta-1702-x-621-145207-260923-41.png");
  }


/* MEMBERS */

#members {
    padding-top: 50px;
    padding-bottom: 50px;
}

.members_content {
    overflow: hidden;
    display: flex;
}

.members_content--text {
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;
    display: inline;
}

.members_content--text:first-child {
    background-color: #03599D;
    color: white;
}

.members_content--text:hover {
    background-color: #03599D;
    color: white;
}

.members_check {
    background-color: white;
    border-top: 1px solid #ccc;
}

.members_check--img {
    
    display: flex;
}
.members_check--contain {
    width: 300px;
    height: 200px;
    border: 1px dashed #ccc;
    margin-left: 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.members_check--contain i {
    font-size: 30px;
    margin-top: 10px;
}

.members_check--contain span {
    
}

.members_check--img button {
    background-color: #03599D;
    height: 34px;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 20px;
}

.members_check--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}

.member_check--contain label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}


.member_check--contain input {
    width: 500px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
}

.member_check--contain select {
    width: 500px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
}

.members_check--bottom {
    margin-left: 15px;
    margin-right: 15px;
}

.members_check--bottom label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}

.members_check--bottom input {
    width: 100%;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
}

.change_password {
    display: block;
    margin-left: 15px;
    margin-top: 40px;
    color: #03599D;
    cursor: pointer;
}

.members_check--update {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.member_update--btn {
    background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #2d9ad8 100%);
    color: #fff;
    border: none;
    height: 40px;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}











/* Footer */


#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 40px;
}

.footer_content {
   
}

.footer_content--info {
    width: 150px;
}

.footer_content--info,
.footer_content--cinema,
.footer_content--connect {
    margin-right: 30px;
}

.footer_info--img {
    margin-bottom: 10px;
}

.footer_info--list li {
    margin-bottom: 8px;
}

.footer_info--list li a {
    margin-left: 8px;
}

.footer_info--list li:hover a {
    color: #5b9bd1;
    text-decoration: underline;
}

.footer_cinema--text,
.footer_connect--text,
.footer_contact--text {
    font-size: 20px;
    padding-bottom: 7px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
    border-image-slice: 1;
   
}

.footer_content--cinema {
    width: 390px;
}

.footer_cinema--list li {
    margin-bottom: 8px;
}

.footer_cinema--list li a {
    margin-left: 8px;
}

.footer_cinema--list li:hover a {
    color: #5b9bd1;
    text-decoration: underline;
}

.footer_content--connect {
    width: 180px;
}

.footer_connect--img  img {
    margin-top: 10px;
    width: 180px;
}

.footer_connect--text {
   
}

.footer_connect--icon {
    display: flex;
    justify-content: center;
}

.footer_connect--icon i {
    font-size: 26px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_content--contact {
    width: 200px;
}

.footer_contact--list li {
    margin-bottom: 16px;
}



/* MODAL quên mật khẩu */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999;
    display: none;
    align-items: center;
    justify-content: center;
    animation: Fadein ease 0.4s;
}   

.modal.open {
    display: flex;
}

.modal-changePassword {
    width: 700px;
    background-color: white;
    position: relative;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
}

.modal-close:hover {
    opacity: 0.7;
    cursor: pointer;
}

.modal-header {
    color: white;
    background-color: #0a64a7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding: 20px 16px;
}

.modal-header i {
    margin-right: 16px;
}

.modal-body {
    padding: 20px 16px;
}

.modal-body_contain {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
}

.modal-body_contain .far {
    position: absolute;
    right: 10px;
    top: 20%;
    cursor: pointer;
    font-size: 18px;
}

.modal-body_contain .far:hover {
    opacity: 0.8;
}

.password_style {
    color: red;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 200px;
    /* left: 40%; */
}

.modal-label {
    display: block;
    margin-bottom: 5px;
}

.modal-label i {
    margin-right: 5px;
}

.modal-input {
    width: 70%;
    border: 1px solid #ccc;
    padding: 11px 12px;
    margin-bottom: 25px;
}

.modal-btn {
    width: 100%;
    border: none;
    background-color: #0a64a7;
    color: white;
    font-size: 15px;
    padding: 18px 0;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

.modal-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* .modal-footer {
    float: right;
    margin-right: 16px;
    margin-bottom: 30px;
}

.modal-footer .help {
    color: #0a64a7;
} */

@keyframes Fadein {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}




/* Nút trở lên đầu */
.scrollTop {
    position: fixed;
    right: 20px;
    bottom: 70px;
}

    .scrollTop i {
        font-size: 20px;
        font-weight: bolder;
        padding: 14px;
        border-radius: 50%;
        background: #075fa3;
        color: white;
        cursor: pointer;
    }